.*
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.m4
*.out
*.kdev4

Makefile.in
Makefile
.deps
.libs
autom4te.cache
config.*
configure
install-sh
ltmain.sh
missing
depcomp
libtool
m4
ar-lib

/build/*
/build-*

src/xdpd/management/pm_timestamp.h
src/xdpd/management/plugins/pm_timestamp.h

!.gitignore
