.*
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.out
*.kdev4
*.trs

config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
*aclocal.m4

Makefile.in
Makefile
.deps
.libs
autom4te.cache
config.*
configure
install-sh
ltmain.sh
missing
depcomp
libtool
m4
ar-lib
tags

build-aux
/build/*
/build-*
test-driver

src/xdpd/management/pm_timestamp.h
src/xdpd/management/plugins/pm_timestamp.h

!.gitignore
