[submodule "libs/rofl-common"]
	path = libs/rofl-common
	url = https://github.com/bisdn/rofl-common.git
[submodule "libs/rofl-datapath"]
	path = libs/rofl-datapath
	url = https://github.com/bisdn/rofl-datapath.git
[submodule "libs/dpdk"]
	path = libs/dpdk
	url = git://dpdk.org/dpdk
