[Unit]
Description=eXtensible Data Path daemon (xDPd)
Requires=network.target

[Service]
User=root
Group=root
Type=simple
Environment="XDPDCONF=-c /etc/xdpd.conf"
EnvironmentFile=/etc/sysconfig/xdpd
ExecStart=/usr/sbin/xdpd $XDPDCONF $XDPDOPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
