[Unit]
Description=eXtensible Data Path daemon (xDPd)
Requires=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/sbin/xdpd -D -c /usr/local/etc/xdpd.conf

[Install]
WantedBy=multi-user.target
